.wrapper {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

/* .container {
    width: 1204px;
    min-height: 100px;
    background-color: #333;
} */